<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Travlendar.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6A8AFCD74DD63E6C47B76E6D1C63BDD6A6467229</string>
				<key>dateExpires</key>
				<string>07/01/2019</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A8AFCD74DD63E6C47B76E6D1C63BDD6A6467229</string>
						<key>dateExpires</key>
						<string>07/01/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>DatePicker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>498K6C2R6K</string>
						<key>name</key>
						<string>Giovanni Filaferro</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A8AFCD74DD63E6C47B76E6D1C63BDD6A6467229</string>
						<key>dateExpires</key>
						<string>07/01/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>KeychainSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>498K6C2R6K</string>
						<key>name</key>
						<string>Giovanni Filaferro</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A8AFCD74DD63E6C47B76E6D1C63BDD6A6467229</string>
						<key>dateExpires</key>
						<string>07/01/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Realm.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>498K6C2R6K</string>
						<key>name</key>
						<string>Giovanni Filaferro</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A8AFCD74DD63E6C47B76E6D1C63BDD6A6467229</string>
						<key>dateExpires</key>
						<string>07/01/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>RealmSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>498K6C2R6K</string>
						<key>name</key>
						<string>Giovanni Filaferro</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A8AFCD74DD63E6C47B76E6D1C63BDD6A6467229</string>
						<key>dateExpires</key>
						<string>07/01/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>Utilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>498K6C2R6K</string>
						<key>name</key>
						<string>Giovanni Filaferro</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6A8AFCD74DD63E6C47B76E6D1C63BDD6A6467229</string>
						<key>dateExpires</key>
						<string>07/01/2019</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>ViewPresenter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>498K6C2R6K</string>
						<key>name</key>
						<string>Giovanni Filaferro</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>498K6C2R6K.com.giovannifilaferro.TravlendarPlus</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array/>
				<key>com.apple.developer.team-identifier</key>
				<string>498K6C2R6K</string>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>498K6C2R6K.com.giovannifilaferro.TravlendarPlus</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>498K6C2R6K.com.giovannifilaferro.Travlendar</string>
				</array>
			</dict>
			<key>name</key>
			<string>Travlendar.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5b0408a7-4bb5-4fde-b2bd-7431f1b6c938</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.giovannifilaferro.TravlendarPlus</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>498K6C2R6K</string>
				<key>name</key>
				<string>Giovanni Filaferro</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
