<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<true/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://github.com/fila95/CalzavaraFilaferroNespoli/tree/master/DeliveryFolder/app/Travlendar.ipa</string>
		<key>displayImageURL</key>
		<string>https://github.com/fila95/CalzavaraFilaferroNespoli/tree/master/DeliveryFolder/app/image_57x57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://github.com/fila95/CalzavaraFilaferroNespoli/tree/master/DeliveryFolder/app/image_512x512.png</string>
	</dict>
	<key>method</key>
	<string>development</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>498K6C2R6K</string>
	<key>thinning</key>
	<string>&lt;thin-for-all-variants&gt;</string>
</dict>
</plist>
